<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{{url}}/style.css">
</head>
<body>
	<header class="global-header">
		<a href="{{url}}" title="The Simplest Blog" class="global-header__title">The Simplest Blog</a>
		<p>A simple way to get your writing ready for the internet.</p>
	</header>
	<main>
		{{content}}
	</main>
	<footer>
		<div><a href="{{url}}">Home</a> | <a href="{{url}}/blog">All Articles</a> | <a href="{{url}}/about.html">About</a></div>
		<p>&copy; 2024 The Simplest Blog</p>
	</footer>
</body>
</html>